.our-values{
    background-image: url(/img/bg-purpule.svg);
    background-size: cover;
    height: 1711px;
    width: 100%;
    padding-top: 215px;
}

.values-txt{
    color: #FFFFFF;
}
.bg-values{
    color: #FFFFFF;
z-index: 1;
opacity: 0.05;
}
.block-values{
    width: 1206px;
}
.texting-offer{
    font-size: 24px;
line-height: 36px;
color: #FFFFFF;
margin-top: 270px;
}
.svg-animation{
margin-top: -105px;
 position: absolute;
}